@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Navbar section */

/* Logo section */

nav {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


header nav .logo {
    display: flex;
    align-items: center;
    gap: 11px;
}

header nav .logo h1 {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0%;
    text-align: left;
}

/* Navbar links section */

header nav .nav-links {
    display: flex;
    gap: 32px;
}

header nav .nav-links a {
    all: unset;
    color: rgb(1, 172, 253);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}

header nav .nav-links .link1 {
    font-weight: 700;
    color: rgb(254, 163, 1);
}

header nav .nav-links .link3 {
    color: rgb(5, 212, 223);
}

header nav .nav-links .link4 {
    color: rgb(93, 88, 239);
}

/* Navbar button section */

header nav button {
    all: unset;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 10px;
    cursor: pointer;
}

/* Banner section */

header .enrollment {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .enrollment .content {
    max-width: 640px;
}

header .enrollment .content h1 {
    font-family: Quicksand;
    font-size: 3.9rem;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

header .enrollment .content h1 .emp {
    color: rgb(254, 163, 1);
}

header .enrollment .content h1 .vision {
    color: rgb(1, 172, 253);
}

header .enrollment .content p {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

header .enrollment .content button {
    all: unset;
    width: 197px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    cursor: pointer;
}


/* Standard Curriculum section */

main .Curriculum-background {
    max-width: 1440px;
    margin: 0 auto;
    background: url(/assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 879px;
}

main .Curriculum-background .content {
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 60px;
}

main .Curriculum-background .content h1 {
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 3rem;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 80px;
}

main .Curriculum-background .content .cards {
    display: flex;
    justify-content: space-between;
}

main .Curriculum-background .content .cards .card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .Curriculum-background .content .cards .card .card-content img {
    margin-top: 53px;
    margin-bottom: 32px;
}

main .Curriculum-background .content .cards .card .card-content h1 {
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 33px;
}

main .Curriculum-background .content .cards .card .card-content p {
    width: 80%;
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 38px;
}

main .Curriculum-background .content .cards .card .card-content .read-more {
    color: rgb(100, 200, 255);
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 53px;
}



main .Curriculum-background .content .cards .card {
    width: 367.8px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    margin-bottom: 80px;
}

main .Curriculum-background .content .cards .card2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

main .Curriculum-background .content .cards .card2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

main .Curriculum-background .content .cards .card2 .card-content .read-more {
    color: rgb(240, 170, 0);
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
}

main .Curriculum-background .content .cards .card3 {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

main .Curriculum-background .content .cards .card3 .card-content .read-more {
    color: rgb(135, 0, 255);
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
}

main .Curriculum-background .content .next-page {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-bottom: 60px;
}

main .Curriculum-background .content .next-page img {
    height: 62px;
    width: 62px;
}



main .Curriculum-background .content .next-page .right {
    transform: rotate(180deg);
}







.hider {
    display: none;
}

@media screen and (max-width: 576px) {

    .hider {
        display: flex;
    }


    /* Navbar section */
    header nav {
        flex-direction: column;
    }

    header nav .logo {
        justify-content: space-between;
        width: 90%;
        margin: 12px 16px;
    }

    header nav .nav-line {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
    }


    header nav {
        max-width: 576px;
        margin: 0 auto;
    }

    header nav .logo img {
        width: 62px;
        height: 62px;
    }

    header nav .logo h1 {
        display: none;
    }

    header nav .nav-links {
        display: none;
    }

    header nav button {
        display: none;
    }

    header nav .logo .hamb-icon {
        width: 40px;
        height: 40px;
    }

    /* Banner section */
    header .enrollment {
        max-width: 576px;
        margin: 0 auto;
        flex-direction: column-reverse;
        justify-content: center;
    }

    header .enrollment .content {
        max-width: 576px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .enrollment .content h1 {
        width: 95%;
        font-family: Quicksand;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 18px;
    }

    header .enrollment .content p {
        width: 95%;
        color: rgb(17, 17, 17);
        font-family: Quicksand;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 18px;
    }

    header .enrollment img {
        width: 95%;
        height: auto;
    }

    main .Curriculum-background .content h1 {
        margin-bottom: 20px;
    }

    main .Curriculum-background .content {
        margin-top: 40px;
    }

    main .Curriculum-background .content .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    main .Curriculum-background .content .cards .card {
        width: 95%;
        height: auto;
        margin-bottom: 12px;
    }

    main .Curriculum-background .content .next-page {
        display: none;
    }

    main .Curriculum-background .content h1 {
        font-size: 1.5rem;
    }


}