@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Navbar section */

/* Logo section */

nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


header nav .logo {
    display: flex;
    align-items: center;
    gap: 11px;
}

header nav .logo h1 {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0%;
    text-align: left;
}

/* Navbar links section */

header nav .nav-links {
    display: flex;
    gap: 32px;
}

header nav .nav-links a {
    all: unset;
    color: rgb(1, 172, 253);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}

header nav .nav-links .link1 {
    font-weight: 700;
    color: rgb(254, 163, 1);
}

header nav .nav-links .link3 {
    color: rgb(5, 212, 223);
}

header nav .nav-links .link4 {
    color: rgb(93, 88, 239);
}

/* Navbar button section */

header nav button {
    all: unset;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 10px;
    cursor: pointer;
}

.hider {
    display: none;
}

@media screen and (max-width: 480px) {

    .hider {
        display: flex;
    }

    header nav {
        flex-direction: column;
    }

    header nav .logo {
        justify-content: space-between;
        width: 100%;
        margin: 12px 16px;
    }

    header nav .nav-line {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
    }


    header nav {
        max-width: 480px;
        margin: 0 auto;
    }

    header nav .logo img {
        width: 39px;
        height: 46px;
    }

    header nav .logo h1 {
        display: none;
    }

    header nav .nav-links {
        display: none;
    }

    header nav button {
        display: none;
    }

    header nav .logo .hamb-icon {
        width: 30px;
        height: 30px;
    }
}

